{
  "extends": ["react-app", "react-app/jest"],
  "rules": {
    // "no-console": "warn",
    "prefer-const": "error",
    "quotes": ["error", "double"],
    "jsx-quotes": ["error", "prefer-double"]
    // "max-len": [{ "code": 60 }],
    // "indent": ["error", 2]
  }
}
