.content {
  /* background: rgb(238, 231, 246); */
  /* background: indigo; */
  /* padding: 3rem; */
}
.cards-container {
  /* width: 80%; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: auto;
  /* flex-wrap: wrap; */
  /* column-count: 3; */
  column-gap: 6rem;
  row-gap: 3rem;
  padding: 5rem;
  /* border-radius: 22px; */
  box-shadow: 22px 22px 48px 12px rgba(0, 0, 0, 30%);
  /* background: skyblue; */
  background: #768372;
  /* background: indigo; */
  /* background: rgb(225, 209, 240); */
  /* background: #fff; */
}

.word-card {
  width: 270px;
  padding: 0.5rem 2rem 1rem;
  border-radius: 22px;
  box-shadow: 25px -6px 37px 1px rgb(36 35 36 / 98%);
  font-family: Arial, Helvetica, sans-serif;
  /* background: rgb(225, 209, 240); */
  /* background: indigo; */
  /* color: #fff; */
  background: #fff;
  /* background: #e6e8f1; */

  text-align: center;
}
h2 {
  color: #425a3a;
  margin-bottom: 1.5rem;
}
span {
  font-size: small;
}
p {
  text-transform: uppercase;
}
.word-card div p {
  display: flex;
  /* justify-content: center; */
  /* column-gap: 2rem; */
  flex-direction: column;
}
