@import "./assets/styles/variables.module.scss";
@import "./assets/styles/font.module.scss";
@import "./assets/styles/vocabulary.module.scss";
@import "./assets/styles/header.module.scss";
@import "./assets/styles/footer.module.scss";
@import "./assets/styles/card.module.scss";
@import "./assets/styles/context.module.scss";
@import "./assets/styles/add-word.module.scss";

.App {
  background: $backgroundColor;
  font-family: $mainFont;
  text-align: center;
}

select {
  background: $backgroundColor;
  color: $textColor;
  font-family: $mainFont;
  border-radius: 3px;
  font-size: small;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}
main {
  margin: 4em auto;
  display: flex;
  justify-content: center;
}
.home-page {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  place-content: center;
  gap: 1em;
  color: $textColor;
  & img {
    max-width: 300px;
    width: 100%;
  }
  & div {
    line-height: 150%;
    & a span {
      font-size: medium;
    }
  }
}
.footer-line {
  width: 90%;
  margin: 0 auto;
  border: none;
  background: $borderColor;
  height: 1px;
}
.error {
  position: relative;
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto 6rem;
  font-size: 2vw;
  color: $textColor;
  z-index: 10;
  & p {
    margin: 0;
    &:nth-child(2) {
      position: absolute;
      top: 0.1rem;
      color: #aa9053;
      font-size: 8vw;
      animation: error 3s linear infinite;
    }
    &:nth-child(4) {
      margin-top: 15rem;
    }
  }
}

.error:after {
  animation: error 3s linear -1.5s;
}
@keyframes error {
  0% {
    opacity: 0;
    transform: translate(0, -50px);
  }
  10%,
  90% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 50px);
  }
}

.home {
  @include mainColor;
}
.error-404 {
  z-index: -100;
  position: absolute;
  @include mainColor;
  font-size: 20vw;
  color: rgb(30, 30, 30, 10%);
}
