@import "./variables.module.scss";

.context-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  background: $backgroundColor;
  & img {
    max-width: 200px;
  }
  & p {
    font-family: $mainFont;
    color: $textColor;
    font-size: 3vw;
  }
}
