.footer {
  min-height: 10vh;
  padding: 1rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: smaller;
  color: $textColor;
}
.contacts div {
  display: flex;
  column-gap: 0.5rem;
}
.rights div a:hover {
  @include mainColor;
}
.btn-up {
  max-width: 50px;
  & img {
    transition: all ease-in-out 0.2s;
    cursor: pointer;
    width: 100%;
    object-fit: cover;
    &:hover {
      transform: scale(1.1);
    }
  }
}
