.footer {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: smaller;
  color: $textColor;
}
.contacts div {
  display: flex;
  column-gap: 0.5rem;
}
.rights div a:hover {
  color: $hoverColor;
}
.btn-up {
  cursor: pointer;
  max-width: 50px;
  background: $selectedColor;
  border-radius: 20px;
  padding: 0.5rem;
  & img {
    width: 100%;
    object-fit: cover;
  }
}
