@import "./variables.module.scss";

.content {
  /* background: rgb(238, 231, 246); */
  /* background: indigo; */
  /* padding: 3rem; */
}
.container {
  margin: 0 auto;
  padding: 5rem 0;
  /* border-radius: 22px; */
  // box-shadow: 22px 22px 48px 12px rgba(0, 0, 0, 30%);
  background: $mainColor;
  /* background: indigo; */
  /* background: rgb(225, 209, 240); */
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background: #ffffff;
}

th {
  max-width: max-content;
  padding: 0 1rem;
  border: 1px solid $borderColor;
}

.head {
  color: $textColor;
  font-size: large;
  text-transform: uppercase;
}

.head th {
  padding: 1rem;
  border-bottom: 4px solid $hoverColor;
}
.word-row {
  max-width: fit-content;
  text-align: center;
  &:hover {
    border-bottom: 2px solid $hoverColor;
  }
}
.wordId {
  color: $textColor;
  font-size: small;
  font-weight: lighter;
}

.english {
  color: $mainColor;
}
.transcription,
.topic,
.translation {
  color: $textColor;
  font-weight: normal;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  // align-items: center;
  column-gap: 0.5rem;
}

.selected {
  background: $selectedColor;
  border: none;
}

.icon {
  max-width: 35px;
  object-fit: contain;
}
